h1{
	font-size:74px;
	text-align:center;
	background-color:#FFF;
	height:65px;
	padding-top:-2%;
}

img#logoImg{
	height:70px;
}

div#contentBgrd{
	background-color:#3c90ce;
	padding:2% 0 2% 0;
	min-height:500px;
}

div#content{
	border: .2em solid #000; 
	border-radius:12px;
	margin:0 10% 0 10%;
	width:80%;
	padding:2% 2% 2% 2%;
	border-width:2px;
	background-color:#DDD;
	min-height:50%;
	
}

span.price{
	color:#6B992C;
	font-weight:bold;
}